`!!!
html(ng-app="myApp")
	head
		meta(charset='utf8')
		base(href='/')
		title Angular Socket.io Seed App
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap.css')
		link(rel='stylesheet', href='/lib/bootstrap/css/bootstrap-responsive.css')
		link(rel='stylesheet', href='/css/main.css')

		script(src='lib/jquery/jquery.js')
		script(src='lib/jquery/jquery-ui.js')
		script(src='lib/bootstrap/bootstrap.js')
		script(src='lib/angular/angular.js')
		script(src='/socket.io/socket.io.js')
		script(src='js/application.js')
		script(src='js/services.js')
		script(src='js/controllers.js')
		script(src='js/filters.js')
		script(src='js/directives.js')
	body
		block body